* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    background-color: #f8f8f8;
    padding: 10px 15px;
}
.logo {
    max-width: 100px;
}
.clock {
    margin-top: 15px;
    background: #f8f8f8;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
}
.clock .value{

    background: white;
    border-radius: 5px;
    padding: 15px;
}
.lot {
    margin-top: 25px;
    background: #f8f8f8;
    padding: 15px;
    border-radius: 5px;
}
.app {
    max-width: 500px;
    padding: 25px;
}

.icon {
    width: 24px;
    height: 24px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    margin: 0 15px;
}
.day {
    background: yellow;
}
.night {
    background: black;
}
.loading {
    background: #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 15px 0;
}